<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Home</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="assets\images\photo profil CV.png" alt="" class="img-fluid">
        </div>
        <div class="col">
           <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, libero, cupiditate aliquid    officiis, veritatis cum sequi magnam facilis dolorum id labore hic facere? Voluptatem, debitis? Hic accusamus, vero molestiae voluptas sed facere dolore aperiam ullam? Nam dolores ratione sint dolor, voluptatem ad iusto quia maxime asperiores eius totam non, odio magni eos! Officia inventore hic eaque id mollitia pariatur quis facere repellat distinctio? Temporibus libero tempora maiores officiis! Voluptatibus architecto dignissimos facere facilis eveniet temporibus reiciendis pariatur eius enim unde eum exercitationem, alias dolor quidem amet fugiat ullam vel dolorum necessitatibus distinctio cumque vero inventore incidunt perferendis. Accusamus illo magni fuga eaque reprehenderit ea incidunt laborum. Error enim quam reprehenderit ipsam aut ex labore fuga, ipsa impedit? Alias dignissimos ea cumque? Aut quae molestiae dolores.
           </p>
        </div>
    </div>
    
</section>
